<md-sidenav-layout fullscreen class="dashboard-content">
  <md-sidenav #sidenav mode="push">
    Sidebar here
  </md-sidenav>

  <md-toolbar color="primary" class="md-primary">
  <button md-raised-button color="primary" (click)="sidenav.open()">menu</button>

   {{title}}
   
<!--    <button md-raised-button color="accent" (click)="settings.toggle()">Settings</button> -->
  </md-toolbar>

     <!--  <router-outlet></router-outlet> -->
	<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
<div class="card-container">
  <md-card class="md-card-flat">
    <md-card-title>Easily customizable</md-card-title>
	<md-card-content>
	 <md-icon svgIcon="thumb-up" class="green"></md-icon>
	 </md-card-content>
    <md-card-actions>
      <button md-button>First</button>
      <button md-button>Second</button>
    </md-card-actions>
  </md-card>

  <md-card class="md-card-flat">
    <md-card-title>Easily customizable</md-card-title>
    <md-card-actions>
      <button md-button>First</button>
      <button md-button>Second</button>
    </md-card-actions>
  </md-card>

  <md-card class="md-card-flat">
    <md-card-title>Easily customizable</md-card-title>
    <md-card-actions>
      <button md-button>First</button>
      <button md-button>Second</button>
    </md-card-actions>
  </md-card>

  <md-card class="md-card-flat">
    <md-card-title>Easily customizable</md-card-title>
    <md-card-actions>
      <button md-button>First</button>
      <button md-button>Second</button>
    </md-card-actions>
  </md-card>

  <md-card class="md-card-flat">
    <md-card-title>Easily customizable</md-card-title>
    <md-card-actions>
      <button md-button>First</button>
      <button md-button>Second</button>
    </md-card-actions>
  </md-card>
</div>

  
  
 
</md-content>

   <md-sidenav #settings mode="side" align="end" opened="true" class="settingsPanel">
        Settings
    </md-sidenav>
</md-sidenav-layout>