md-sidenav {
  width: 200px;
  background:blue;
}
md-sidenav-layout{
	height:100%
	
}
md-content.dashboard-content {
background-color: transparent;
}
.settingsPanel{
	background:#f0f0f0;
	width:300px;
	padding:10px;
	box-sizing:border-box;
	text-align:left;
}